<header>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Librairie</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Livres
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/livres">Tous les livres</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/livres/livrespartitre">Recherche par titre</a></li>
            <li><a class="dropdown-item" href="/livres/livresparauteur">Recherche par auteur</a></li>
            <li><a class="dropdown-item" href="/livres/livresparediteur">Recherche par éditeur</a></li>
          </ul>
        </li>
        
        
      </ul>
      
    </div>
  </div>

{% if app.user and 'ROLE_ADMIN' in app.user.getroles()%}
  <p>ADMIN</p>
{% endif %}
{% if app.user and 'ROLE_USER' in app.user.getroles()%}
  <p>USER</p>
{% endif %}

  
{% if not app.user %}
  <a href="/login">Login</a>
{% endif %}


{% if app.user %}
        {# <div class="mb-3"> #}
       {{ app.user.userIdentifier }}
        <br>
        <a href="/logout">Logout</a>
        {# </div> #}
{% endif %}

</nav>


</header>